@model Data.Formation
@{
    ViewData["Title"] = "Laisser un avis sur la formation: "+Model.Nom;
}

<h1>Laisser un avis sur la formation: @Model.Nom</h1>
<p>Merci de compléter les champs ci dessous:</p>
<form action="/Avis/SaveComment" method="post">
    <input type="text" name="nom"/>
    <br />
    <p>Merci d'écrire votre avis ci dessous : </p>
    <textarea cols="5" name="commentaire"></textarea>
    <select name="note">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <input type="button" value="Poster votre avis" />
</form>