@model ToutesLesFormationsViewModel  
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Ceci est une vue</p>
<p>Ceci est la valeur passée: @Model.Nombre</p>
<p>Ceci est le string passée: @Model.Message</p>