@model List<Data.Formation>
@{
    ViewData["Title"] = "Toutes Les Formations";
}

<h1>ToutesLesFormations</h1>

@foreach (var formation in Model)
{
    <p>Nom de la formation : @formation.Nom</p>
    <p>Description : @formation.Description</p>
    <br />
}