@model List<Data.Formation>
@{
    ViewData["Title"] = "Toutes Les Formations";
}

<h1>ToutesLesFormations</h1>

@foreach (var formation in Model)
{
    <p>Nom de la formation :</p>
    <a asp-controller="Formation"
       asp-action="DetailsFormation" 
       asp-route-idFormation="@formation.Id">@formation.Nom</a>
    <p>Description : @formation.Description</p>
    <br />
}