@model List<Data.Formation>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p>Voici une formation phares:</p>


@foreach (var formation in Model)
{
    <p>Nom de la formation :</p>
    <a asp-controller="Formation"
       asp-action="DetailsFormation"
       asp-route-idFormation="@formation.Id">@formation.Nom</a>
    <p>Description : @formation.Description</p>
    <br />
}foreach()

@section Scripts {
    <script>
        $(document).ready(function () {
            alert("script fonctionne");
        });
    </script>
}
